
.register {
    padding: 16px;
    width: 80%;

}

label {
    float: left;
    padding: 18px;
}

input[type=text], input[type=password]{
    width: 70%;
    padding: 6px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-style: solid;
    background: #f1f1f1;
    border-color: darksalmon;
    float: right;
}

input[type=file], input[type=date] {
    border-color: darksalmon;
    background: #f1f1f1;
    width: 70%;
    padding: 6px;
    float: right;
}

input[type=checkbox] {
    padding: 6px;
    display: inline-block;
}

input[type=radio] {
    margin: 28px;
    display: inline-block;
}
.gender {
    display: inline-block;
}

#captcha {
    width: 30%;
}

h1 {
    text-align: center;
}

form {
    width: 35%;
    background-color: lemonchiffon;
    margin: 0 auto;
    border-color: darksalmon;
    border-style: solid;
}

div {
    background-color: white;
    margin: 0 auto;
    width: 30%;
    display: table;
}

textarea {
    width: 100%;
    border-color: darksalmon;
    border-style: solid;
}

p {
    color: darksalmon;
    font-weight: bold;
    font-size: medium;
    padding-left: 60px;
}

.btn {
    background-color: lemonchiffon;
    margin: 0;
    text-align: end;
    width: 92%;
}